.container
  width: 90,6666%
  max-width: 1256px
  margin: auto
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  &-30
    flex-basis: 32%
  &-44
    width: 44%
  &-56
    width: 55%