@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .logo
    &__link
      &:hover
        cursor: default
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .contacts
    &__phone
      &:hover
        cursor: default
@media screen and ( min-width: 992px )
  .logo
    &__link
      transition: color 0.2s
      &:hover
        color: $light
        cursor: pointer
  .nav
    &__item
      transition: color 0.2s
      &:hover
        color: $primary
        cursor: pointer
  .contacts
    &__phone
      transition: color 0.2s
      &:hover
        color: $light
  .button
    transition: color 0.2s
    &:hover
      color: $dark
      background-color: $light
      cursor: pointer
    &--primary
      &:hover
        box-shadow: none
        cursor: pointer
  .hero
    &__scroll-down
      transition: color 0.2s
      &:hover
        color: $primary
      &::after
        &:hover
          border: 2px solid $light
  .instagram
    &__link
      transition: color 0.2s
      &:hover
        color: $dark
        background-color: $primary
        &::after:hover
          display:none
@media screen and ( max-width: 768px )
  .menu
    font-size: 12px
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 6.58rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark25
    &__section-title
      color: $light    
@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.91rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 99%
      margin: auto
    &__title
      max-width: 25rem
      margin-bottom: 1.03rem
    &__text
      font-size: 1.5rem
      font-style: normal
      font-weight: normal
      line-height: 135.84%
      max-width: 26.5rem
      margin-bottom: 2.9rem
    &__button
      display: block
      min-width: 28.21rem
      margin-bottom: 2.16rem
  .section-title
    &__heading
      font-size: 1.83rem
      font-style: normal
      font-weight: normal
      margin-bottom: 1.3rem
  .card
    &__text
      margin-top: -12.2rem
      max-width: 22.5rem
  .design
    background-color: $dark25
    padding-bottom: 6.3rem
    &__section-title
      color: $light
    &__section-subtitle
      max-width: 25.5rem
      font-size: 1.25rem
      line-height: 1.4
      margin: auto
      margin-bottom: 2.85rem
    &__image
      margin-bottom: 1.7rem
    &__pricetag
      padding: 0.91rem 4rem
      font-size: 1.25rem
      text-align: center
@media screen and ( max-height: 615px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 375px )
  .hero
    &__content
      margin: auto
    &__title
      max-width: 25rem
    &__text
      max-width: 26.5rem
  