@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 0.7rem
  .steps
    &-text
      min-width: 20.071rem
    &-left
      width: 35%
    &__swiper-right
      width: 60%
    &-text__paragraph
      max-width: none
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .types, .design
    &__card
      margin-bottom: 6.58rem
  .card
    &__text
      margin-left: 0
    &__image
      display: block
  .design
    background: none
    background-color: $dark_secondary
    &__section-title
      color: $light
  .projects-row
    align-items: center
  .steps
    &-row
      align-items: center
      flex-direction: column
    &__title
      padding-top: 2rem
    &-text__paragraph
      max-width: none
    &__swiper-left
      width: 40%
      margin-top: 0
  .swiper
    &-slide
      width: 100%      
      &__text
        max-width: none
      &__value
        max-width: none      
@media screen and ( min-width: 992px )
  .logo
    &__link
      transition: color 0.2s
      &:hover
        color: $light
        cursor: pointer
  .nav
    &__item
      transition: color 0.2s
      &:hover
        color: $primary
        cursor: pointer
  .contacts
    &__phone
      transition: color 0.2s
      &:hover
        color: $light
  .button
    transition: color 0.2s
    &:hover
      color: $dark
      background-color: $light
      cursor: pointer
    &--primary
      &:hover
        box-shadow: none
        cursor: pointer
  .hero
    &__scroll-down
      transition: color 0.2s
      &:hover
        color: $primary
      &::after
        &:hover
          border: 2px solid $light
  .instagram
    &__link
      transition: color 0.2s
      &:hover
        color: $light
        &::after
          background-color: $light
@media screen and ( max-width:  768px )
  .row
    flex-direction: column
    align-items: center  
  .col      
    &-44
      width: 91%
    &-56
      width: 94%
  .steps    
    &__links
      left: 0
  .cur-step
    padding-left: 0
@media screen and ( max-width: 576px )
  .menu
    font-size: 12px  
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.91rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 100%
    &__title
      max-width: 25rem
      margin-bottom: 0.93rem
    &__text
      font-size: 1.5rem
      font-style: normal
      font-weight: normal
      line-height: 1.4
      max-width: 26.5rem
      margin-bottom: 2.6rem
    &__button
      display: block
      min-width: 28.2rem
      margin-bottom: 2.16rem
  .section-title
    &__heading
      font-size: 1.83rem
      font-style: normal
      font-weight: normal
      margin-bottom: 1.4rem
  .card
    &__text
      margin-top: -12.2rem
      max-width: 22.5rem
    &__image
      display: block
  .design
    background-color: $dark_secondary
    padding-bottom: 6.3rem
    &__section-title
      color: $light
    &__section-subtitle
      max-width: 25.5rem
      font-size: 1.25rem
      line-height: 1.4
      margin: auto
      margin-bottom: 2.95rem
    &__wrap-img
      margin-bottom: 1.6rem
    &__pricetag
      padding: 0.91rem 4rem
      font-size: 1.25rem
      text-align: center
  .swiper
    &-slide
      &__heading
        min-width: 11.83rem
        font-size: 1.166rem
        margin-bottom: 0.7rem
      &__text
        max-width: 47.7%
        &:last-of-type
          margin-bottom: 4.62rem              
      &__value
        font-size: 1.166rem
    &-button
      &-prev, &-next
        width: 3.5rem
  .steps
    display: none        
@media screen and ( max-height: 615px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 375px )
  .logo
    font-size: 1.01rem
  .hero
    &__title
      max-width: 25rem
    &__text
      max-width: 26.5rem
    &__button
      width: 100%
      min-width: 85%
  .section-title
    &__heading
      margin-bottom: 1.4rem
    &__image
      margin-bottom: 2.814rem
  .types
    &__card
      margin-bottom: 6.18rem
      margin-right: auto
      margin-left: auto
    &__section-title
      margin-bottom: 3.4rem
    &__text
      margin: -11.5rem 0 0 0
      box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05)
    &__list
      line-height: 1.9rem
      padding: 0 0 0 1.1rem
      margin: 0
    &__pricetag
      left: 0
      bottom: -1.39rem    
      padding: 1.014rem 2.2rem
      max-width: 15.869rem
      min-height: 2rem
  .design
    &__icon
      margin-bottom: 1.5rem    
    &__card
      margin-bottom: 6.58rem
      &-title
        margin-top: -0.3rem
        margin-left: 0.35rem
        margin-bottom: 0.9rem
    &__wrap-img
      &::before
        display: none
    &__text
      margin: -13.1rem 0 0 -0.1rem
      max-width: 22.4rem
      min-height: 14.8rem
      padding-bottom: 0    
    &__list
      padding: 0 0 3.4rem 1.2rem
    &__pricetag
      bottom: -1.7rem
      left: 0
      max-width: 15.86rem
      padding-top: 0.9rem
    &__item
      display: none
  .card
    &__item
      line-height: 1.9rem
      &--ellipsis
        &::after
          content: '...'
    &-pricetag
      text-align: center
    &-text
      max-width: 22.5rem
  .modal
    &__dialog
      min-width: 70%
      max-height: 70%
    &__title
      margin-top: 2rem
      margin-right: 1rem
      margin-left: 1rem
  .section
    &-title
      &__text
        font-size: 1.166rem      
        max-width: 25.41rem
        line-height: 1.96rem      
      &__word
        margin-bottom: 1.79rem
        &::after
          display: none     
  .projects
    &__text
      margin-bottom: 1.8rem
       
