.clients
  &__section-title
    margin-bottom: 5rem
  &__title
    margin-left: 0
    margin-right: 0
  &__icon
    margin-bottom: 1.3rem
  &__section-subtitle
    margin: 0 auto 3.68rem auto
    max-width: 25.714rem
    line-height: 1.85rem
  &__row
    justify-content: space-around
  &__card
    padding: 0 0 0 0
  &__repair
    display: flex
    justify-content: space-between
    align-items: center   
    background-color: $primary
    padding: 0.1rem 0.485rem 0.1rem 1.485rem
    margin-bottom: 0
    max-width: 20.982rem
    &-icon
      width: 32px
      height: 32px
      margin: 0
    &-text
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      font-size: 1.214rem
      line-height: 1.714rem
      text-align: center
      text-transform: uppercase
      background-color: $primary
      color: $light
      padding-left: 0.5rem
      padding-right: 1.1rem
      min-width: 4rem
      &--lowercase
        text-transform: lowercase
      &--after
        content: ''
        display: inline-block
        background-color: $light
        height: 3.6rem
        width: 1px
        margin-right: 1.2rem
        top: 0
        bottom: 0          
  &__card-title
    margin-bottom: -1.1rem 
    padding: 0 0.2rem
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 1.285rem
    line-height: 1.785rem
    max-width: 14.714rem
  &__client
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: -0.9rem
  &__wrap-img
    width: 5rem
    height: auto
    border: 1px solid $light
    border-radius: 50%
    background-color: $primary
    margin-right: 1rem
  &__image
    object-fit: cover
    width: 100%
    height: 100% 
  &__feedback
    padding: 1.571rem 0 0 0
    text-align: start
    color: $secondary
    font-size: 1.071rem
    line-height: 1.928rem
    max-width: 23.14rem
    min-height: 21rem
