.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center
  &__wrap
    background-color: $black
    max-width: 63.071rem
    margin: auto
    padding: 2.457rem 12.964rem
    margin-bottom: 3.715rem
  &__title
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 1.428rem
    line-height: 2rem
    text-align: center
    text-transform: uppercase    
    margin: auto
    margin-bottom: 3.171rem
    &--address
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      font-size: 1.428rem
      line-height: 2rem
      text-align: center
      text-transform: uppercase    
      margin: auto
      color: $primary
      max-width: 38.271rem
      margin-bottom: 1.657rem
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 37.142rem
    margin: auto
  &__input
    line-height: 1.285rem
    padding: 0
    padding-bottom: 0.6rem
    border-bottom: 1px solid rgba($light, 0.15)
    &-group
      display: flex
      flex-direction: column
      flex-basis: 44.5%
      margin-bottom: 2.225rem
      &--full-width
        flex-basis: 100%
        margin-bottom: -0.7rem
  &__policy
    flex-basis: 100%
    margin-top: 1.5rem
    margin-bottom: 3.003rem
  &__button
    margin: auto
    padding: 1.285rem 4.785rem
  &__icons
    margin: auto
    margin-bottom: 3rem
    display: flex
    justify-content: center
  &__icon
    margin-right: 0.7rem
    margin-left: 0.4rem    
  &__menu
    background-color: $dark
    padding: 4.285rem 0
  &__address
    display: flex
    flex-direction: column
    align-items: center
  &__map
    width: 66.071rem
    height: 33.21rem
    margin: auto
    margin-bottom: 4.672rem