.footer
  background: $dark url('../img/footer-bg.png') no-repeat center
  background-size: cover
  padding-top: 4.1rem
  margin-top: -3.1rem
  &::before
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color:  rgba(#000000, 1)
  &__wrap
    background: $dark url('../img/footer-line-bg.svg') no-repeat center    
    max-width: 63.071rem
    padding: 2.357rem 12.964rem
    margin: auto
    margin-top: -20rem
    margin-bottom: 3.715rem
  &__title
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 1.428rem
    line-height: 2rem
    text-align: center
    text-transform: uppercase    
    margin: auto
    margin-bottom: 3.171rem
    &--address
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      font-size: 1.428rem
      line-height: 2rem
      text-align: center
      text-transform: uppercase
      margin: auto
      color: $primary
      margin-bottom: 1.457rem
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 37.142rem
    margin: auto
  &__input
    font-family: 'Futura Book', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 1.285rem
    line-height: 1.385rem
    padding: 0
    padding-bottom: 0.6rem
    border-bottom: 1px solid rgba($light, 0.15)
    &-group
      display: flex
      flex-direction: column
      flex-basis: 44.5%
      margin-bottom: 2.225rem
      position: relative
      &--full-width
        flex-basis: 100%
        margin-bottom: -0.7rem
  &__policy
    flex-basis: 100%
    margin-top: 1.7rem
    margin-bottom: 3.003rem
    position: relative
  &__button
    font-family: 'Futura Demi', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 1.071rem
    line-height: 1.285rem
    margin: auto
    padding: 1.185rem 4.185rem
  &__icons
    margin: auto
    margin-bottom: 3rem
    display: flex
    justify-content: center
  &__icon
    margin-right: 1.4rem
    margin-left: -0.4rem    
  &__menu
    background-color: $dark
    padding: 3.585rem 1rem
  &__address
    display: flex
    flex-direction: column
    align-items: center
  &__map
    width: 75.3%
    height: 33.21rem
    margin: auto
    margin-bottom: 4.672rem