.modal, .modal-msg
  opacity: 0
  visibility: hidden
  z-index: 199
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  background-color: rgba($dark, 0.6)
  display: flex
  align-items: center
  justify-content: center
  &--visible
    opacity: 1
    visibility: visible
  &__dialog
    position: relative
    min-width: 36.142rem
    min-height: 35.357rem
    padding-top: 2.357rem
    padding-bottom: 1.928rem
    background: $dark url('../img/bg-lines.svg') no-repeat center
    color: $light
  &__close
    position: absolute
    right: 1.1rem
    top: 0.9rem
    width: 28px
    height: 28px
    background: transparent url('../img/close.svg') no-repeat center
    border: none
    cursor: pointer
  &__title
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.357rem
    text-align: center
    line-height: 1.99rem
    max-width: 25.36rem
    margin-top: 0
    margin-right: 5.142rem
    margin-bottom: 1.928rem
    margin-left: 5.142rem
  &__form
    display: flex
    flex-direction: column
    padding-left: 3.2rem
    padding-right: 3.2rem
  &__input
    padding-bottom: 0.5rem
    border-bottom: 1px solid rgba($light, 0.15)
    &-group
      display: flex
      flex-direction: column
      margin-bottom: 2.2rem
      position: relative
  &__policy
    position: relative
    margin-top: -3.5rem
    margin-bottom: 2.2rem
  &__button
    align-self: flex-end
    max-width: 213px
    min-height: 51px
    margin-right: 0.6rem
    padding: 1.1rem 3.2rem 
.form
  &__label
    margin-bottom: 0.1rem
  &__input
    margin-bottom: 1.1rem
.modal-msg
  &__dialog
    position: relative
    min-width: 36.142rem
    min-height: 10rem
    padding-top: 2rem
    padding-bottom: 2rem
    background-color: $dark
    color: $light
div
  &#modal-user-email-error
    margin-bottom: 1.5rem



